USE [master]
GO
/****** Object:  Database [OldSchoolCourseManagement]    Script Date: 12/27/2023 4:24:40 PM ******/
CREATE DATABASE [OldSchoolCourseManagement]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'OldSchoolCourseManagement', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.FIRSTSQL\MSSQL\DATA\OldSchoolCourseManagement.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'OldSchoolCourseManagement_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.FIRSTSQL\MSSQL\DATA\OldSchoolCourseManagement_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [OldSchoolCourseManagement].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [OldSchoolCourseManagement]
GO
/****** Object:  Table [dbo].[Admin]    Script Date: 12/27/2023 4:24:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Admin](
	[Role] [nvarchar](50) NOT NULL,
	[RegistrationDate] [date] NOT NULL,
	[RoleName] [nvarchar](50) NOT NULL,
	[Email] [nvarchar](100) NOT NULL,
	[AppPass] [nvarchar](50) NOT NULL,
	[EmailPass] [nvarchar](50) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Courses]    Script Date: 12/27/2023 4:24:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Courses](
	[Id] [varchar](12) NOT NULL,
	[Name] [varchar](50) NOT NULL,
	[CreationDate] [date] NOT NULL,
	[Hour] [int] NOT NULL,
	[Description] [text] NOT NULL,
	[Photo] [varbinary](max) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Scores]    Script Date: 12/27/2023 4:24:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Scores](
	[StudentId] [varchar](12) NOT NULL,
	[CourseId] [varchar](12) NOT NULL,
	[Score] [float] NOT NULL,
	[Description] [nvarchar](max) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Students]    Script Date: 12/27/2023 4:24:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Students](
	[Id] [varchar](12) NOT NULL,
	[FirstName] [varchar](15) NOT NULL,
	[LastName] [varchar](15) NOT NULL,
	[Birthdate] [date] NOT NULL,
	[Gender] [varchar](6) NOT NULL,
	[Email] [varchar](255) NOT NULL,
	[Address] [text] NOT NULL,
	[Photo] [varbinary](max) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[Admin] ([Role], [RegistrationDate], [RoleName], [Email], [AppPass], [EmailPass]) VALUES (N'Course Administrator', CAST(N'2023-11-23' AS Date), N'Admin', N'courseoldschool.main@outlook.com', N'Admin', N'Admin2023')
GO
INSERT [dbo].[Scores] ([StudentId], [CourseId], [Score], [Description]) VALUES (N'23.01s.1', N'23.01c.1', 85.5, N'⭐⭐⭐')
INSERT [dbo].[Scores] ([StudentId], [CourseId], [Score], [Description]) VALUES (N'23.01s.1', N'23.01c.2', 78.2, N'⭐⭐')
INSERT [dbo].[Scores] ([StudentId], [CourseId], [Score], [Description]) VALUES (N'23.01s.2', N'23.01c.3', 92.8, N'⭐⭐⭐⭐')
GO
USE [master]
GO
